<footer class="bg-body-tertiary text-center mt-5">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- <a href="" target="_blank">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUXabJRhY2T8DBfjNDghh2lz230bXRdsOFqw&usqp=CAU" alt="LinkedIn">
        </a>
        <a href="https://github.com/R3GT-hub" target="_blank">
            <img src="https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_1280.png" alt="" alt="Instagram">
        </a> -->
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/saransh-sharma-697857240/"
          role="button"
          ><i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/R3GT-hub"
          role="button"
          ><i class="fa fa-github" aria-hidden="true"></i>
         </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="https://github.com/R3GT-hub">R3GT-Hub</a>
    </div>
    <!-- Copyright -->
  </footer>