<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@300;400;800&family=Playpen+Sans:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Montserrat:wght@300;400;800&family=Playpen+Sans:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">
    
    <style>
        /* Custom styles */
        body{
          font-family:"Madimi One";

        }
        * {
          box-sizing: border-box;
        }
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .signin-container {
            display: flex;
            justify-content: flex-end;
            align-items: center; /* Align items vertically */
            height: 100%;
            margin-top: 50px; /* Add margin from the top */
            padding: 0;
            width: 100vw;
            /* margin-bottom: 200px; */
        }
        .image-container .form-container{
          margin-bottom: 50px;
          
        }
        .image-container {
            width: 60%;
            height: 100%;
            overflow: hidden;
            background: no-repeat;
            background-size: cover;
            background-position: center;
            margin-right: 50px; /* Add margin between the image and the form */
        }
        .form-container {
            width: 50%;
            padding: 20px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        .form-label {
            font-weight: bold;
        }
        .form-control {
            border-radius: 5px;
        }
        .btn-primary {
            border-radius: 5px;
        }
        @media (max-width: 768px) {
            .signin-container {
                flex-direction: column;
                align-items: center;
                margin-top: 20px; /* Adjust margin for smaller screens */
            }
            .image-container, .form-container {
                width: 80%; /* Adjust width for smaller screens */
                margin: 20px 0; /* Add margin between elements for smaller screens */
                margin-bottom: 50px;
              }
            .image-container {
                display: none; /* Hide image container on smaller screens */
            }
        }
    </style>
</head>
<body>

<%-include('./partials/nav')%> 
<div class="container signin-container" >
    <div class="image-container" style="background-image: url('https://cdn.proelevate.in/web-assets/login.svg');"></div>
    <div class="form-container">
        <form action="/user/signin" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputemail" aria-describedby="emailHelp"  name="email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1"  name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
